.blue{
    color: black; background-color: aqua;
}
.pale{
    background-color: #EEE8AA;

}
.orchid{
background-color: #e3aee1;
}
.teal{
background-color: #2ccece;
}
.dgr{
  background-color:#e4bc54 ;  
}
.lightyellow{ 
  background-color: #bfff00;
}
.yellow{
    background-color: #f4f47a;
}
.lightgray{
   background-color:#D3D3D3 ; 
}
.lightpink{
  background-color: #FFB6C1;
}
.lightskyblue{
background-color: #87CEFA;
}
.lightsteelblue{
  background-color: #B0C4DE;
}
.lightgoldenroadyellow{
  background-color: #ecec7b;
}
.lightgreen{
  background-color: #90EE90;
}
.lightseagreen{
  background-color: #50c9c3;
}
.linen{
 background-color:#f9cea6;
}
.lightcyan{
  background-color: #c2f4f4;
}
.lightsalmon{
  background-color: #cdc4c0
;
}
.levenderblush{
  background-color: #e5a4ba;
}